- Meal.meal_types.keys.each do |type|
  %h4= "#{humanize_type!(type)}s"
  .well.well-lg{class: "#{type}s"}
    = render partial: 'meals/form', locals: { meals: @meals.up_to_date.send(type), type: type }

.modal.fade{ id: 'meals-action', 'aria-hidden': true, 'aria-labelledby': :myModalLabel, role: :dialog, tabindex: '-1' }
  .modal-dialog
    .modal-content
