- if !orders.empty?
  - orders.each do |order|
    .panel.order{data: { url: order_details_path(id: order.id, date: @date) }, class: "panel-#{order.status?(:open) ? 'info' : 'danger'}" }
      .panel-heading.inline-header
        = order.user.nickname
        .right
          %h5.summary= order.total
          %small UAH
- else
  %h2 No orders at that day