- meals.each do |meal|
  %tr
    %td= meal.name
    %td= meal.price
    %td.actions
      = link_to render_modal_path(id: meal, type: type), remote: true do
        %i.fa.fa-pencil
      - if meal.is_related?
        = link_to meal_path(meal, type: type), method: :delete, remote: true, data: { confirm: 'Are you sure?'} do
          %i.fa.fa-trash